GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
NEXT_PUBLIC_RECOMMENDATION_API_URL=http://localhost:3000/api
DATABASE_URL=postgresql://postgres:password@localhost:5432/app_bhxh?schema=public
GAS_WEB_APP_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
